# Use HALs
binder_use(system_server)
hal_client_domain(system_server, hal_lineage_health)
hal_client_domain(system_server, hal_lineage_touch)
hal_client_domain(system_server, hal_lineage_powershare)

# Pocket lock
allow system_server pocket_service:service_manager { add find };
allow system_server pocket_judge_sysfs:dir search;
allow system_server pocket_judge_sysfs:file rw_file_perms;
allow system_server pocket_service:service_manager { add find };

# Let system server find camera properties
get_prop(system_server, camera2_extensions_prop)
